@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dominik Đuranić
    Trpimira 1b<br />
    Osijek<br />
    <abbr title="Phone">P:</abbr>
    +38595 555 0100
</address>

<address>
    <strong>Complaints:</strong>   <a href="mailto:uprava@vodovod.com">uprava@vodovod.com</a><br />
    <strong>Author:</strong> <a href="mailto:dominikurani@yahoo.com">dominikurani@yahoo.com</a>
</address>